<h1><%=@name%></h1>

<table class="table table-striped">
    <tr>
        <th>店舗一覧</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <% if @errors.present? %>
        <ul class="list-group">
            <% @errors.each do |error| %>
                <li class="list-group-item list-group-item-danger"><%= error['message'] %></li>
            <% end %>
        </ul>
    <% end %>
    <% if @resouces.present? %>
        <% @resouces.each do |resouce| %>
            <tr>
                <td>
                    <%=resouce['name']%> <!-- お店の名前-->
                    <br>
                    <img src= "<%=resouce['image_url']['shop_image1']%>" ></td> <!-- 画像 -->
                </td> <!--お店の名前-->
                <td>
                    <%= registration_star(resouce) %>
                    <br>
                    <%=resouce['pr']['pr_short']%><!--お店PR_short -->
                    <br>
                    <br>
                    <%=resouce['address']%> <!-- アクセス情報 -->
                </td>
                <td></td>
            </tr>
            <tr>
                <td>評判</td>
                <td>
                    <% Review.where(gnavi_shop_id: resouce['id']).each do |review| %>
                    <dl class="dl-horizontal">
                        <dt><%= review.user.account %></dt>
                        <dd><%= review.comment %></dd>
                    </dl>
                    <% end %>
                <td>
            </tr>
        <% end %>
    <% end %>
</table>
